/* Custom CSS for Skymesh */

li.team-image {
    width:49%;
}
li.team-image img {
    width:100%;
    height:auto;
    border-radius: 100%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
}

li.team-desc {
    width:49%;
    vertical-align: top !important;
}
li.team-desc ul li {
    display: list-item;
    text-align: left;
    padding-top: 0;
}

ul.team-social {
    text-align: center;
    margin-top: -10px;
}
